{% extends 'base.html' %}
{% block title %}Secret Page{% endblock %}

{% block content %}

    <p>You Made It!</p>
    <img src="https://media.giphy.com/media/j3gsT2RsH9K0w/giphy.gif" alt="napoleon dance">
    <p class="lead">Current User: {{user.username}}</p>
    <h2 class="display-2">Hall of Heroes</h2>
    {% for user in users %}
    <p class="lead">
        {{ user.username }}
    </p>

    {% endfor %}

<form action="/logout" method="POST">
    <button class="btn btn-primary" type="submit">Logout</button>
</form>
    
{% endblock %}