{% extends 'base.html' %}
{% block title %}User Info{% endblock %}

{% block content %}

<h3 class="display-3 mt-5">User</h3>
<div class="card mb-5">
  <div class="card-body">
    <h3 class="card-title">
    {{ user.username }} 
    {% if user.is_admin == True %}<strong>**ADMIN**</strong>{% endif %}
    </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>First Name:</strong> {{ user.first_name }}</li>
        <li class="list-group-item"><strong>Last Name:</strong> {{ user.last_name }}</li>
        <li class="list-group-item"><strong>Email Address:</strong> {{ user.email }}</li>
    </ul>
    
    <div class="container">
    <div class="row row-cols-auto">
        <div class="col">
            <form action="/logout" method="POST">
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        </div>

        <div class="col">
            <form action="/users/{{user.username}}/delete" method="POST">
                <button class="btn btn-danger">Delete Account</button>
            </form>
        </div>
    
    </div>
    </div>
    
  </div>
</div>

<h3 class="display-3">Feedback</h3>
<div class="container border">
<a href="/users/{{ user.username }}/feedback/add" class="btn btn-primary my-3">Add Feedback</a>
    {% for fb in user.feedback %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title row row-cols-auto mx-1">
                    {{ fb.title }}
                    <form action="/feedback/{{fb.id}}/delete" method="POST">
                        <button class="btn btn-sm btn-danger">X</button>
                    </form>
                </h5>
                <figure>
                    <blockquote class="blockquote">
                        <p>{{ fb.content }}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="username">{{ fb.user.username }}</cite>
                    </figcaption>
                </figure>
                <a href="/feedback/{{fb.id}}/update" class="btn btn-primary">Edit</a>
            </div>
        </div>
    {% endfor %}
</div>
    
    
    
    

{% endblock %}